.stack-work/
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp

# OpenSandbox Runtime directories
cache/

# Private Minecraft server files used for testing
ops.json
whitelist.json
banned-players.json
banned-ips.json
*.properties
*.log
*.log.gz
